/*  Start Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #eee;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

.bg {
  /* more convinient */
  background: url(https://images.unsplash.com/photo-1461365570812-b7d5ebe71766?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80)
    no-repeat center fixed;
  background-size: cover;
  z-index: -2;
  opacity: 0.97;
}

section {
  padding: 6rem;
  user-select: none;
  margin: 20rem;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
  color: rgb(250, 250, 250);
  font-size: 2rem;
  text-shadow: 1px 2px 0px rgba(73, 73, 73, 1);
}

img {
  width: 100%;
}

/* End Global */

/* Start Reusable */
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}

.section-heading h1 {
  font-family: "Poiret One";
  font-size: 3.5rem;
  color: rgb(250, 250, 250);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 0px rgb(100, 100, 100), 2px 2px 0px rgb(66, 66, 66),
    3px 3px 0px rgb(56, 56, 56);
}
.section-heading h1::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00e5e3;
}
.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.5rem;
}

.section-heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  margin-bottom: -0.8rem;
  margin-top: 2rem;
}
.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
}
.has-margin-right {
  margin-right: 5rem;
}

/* End Reusable */

/* Start Header */
header {
  width: 100%;
  height: 100vh;
}

.top-nav {
  width: 100%;
  position: fixed;
  z-index: 50;
  background-color: transparent;
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 2rem;
}

li {
  margin: 0 2rem;
}

.nav-link {
  font-size: 2rem;
  font-family: sans-serif;
  padding: 2rem;
  color: rgb(247, 240, 240);
  -webkit-transition: opacity 450ms;
  opacity: 0.5;
}
.nav-link:hover {
  opacity: 1;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1 {
  font-size: 16rem;
  font-family: "Poiret One", sans-serif;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 4rem;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 0px rgb(100, 100, 100), 7px 7px 0px rgb(66, 66, 66),
    8px 9px 0px rgb(56, 56, 56);
}

.landing-text h6 {
  color: rgb(255, 255, 255);
  font-family: "Poiret One", sans-serif;
  letter-spacing: 2rem;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1rem;
  text-decoration: underline;
}

/* about */
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}
.about-heading h1 {
  font-family: "Poiret One", sans-serif;
  font-size: 10rem;
  opacity: 0.8;
  text-shadow: 4px 4px 0px rgb(100, 100, 100), 7px 7px 0px rgb(66, 66, 66),
    8px 9px 0px rgb(56, 56, 56);
}
.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
  text-shadow: 4px 4px 0px rgb(100, 100, 100), 7px 7px 0px rgb(66, 66, 66),
    8px 9px 0px rgb(56, 56, 56);
}
.about-heading p {
  text-shadow: 1px 2px 0px rgba(73, 73, 73, 1);
}

.profile-img {
  padding: 1rem;
  flex: 1;
  margin-right: 5rem;
}
.about-details {
  flex: 1;
}

.social-media {
  margin-top: 5rem;
}
.social-media i {
  padding-right: 5rem;
  font-size: 5rem;
  transition: color 650ms;
}
.fa-facebook-square:hover {
  color: #3461bb;
}
.fa-twitter-square:hover {
  color: #47a8f3;
}
.fa-github-square:hover {
  color: #2ebc4f;
}
.fa-linkedin:hover {
  color: #0077b5;
}
.fa-envelope-square:hover {
  color: yellow;
}

/* technologies */
.my-skills {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.skill h1 {
  font-family: "Poiret One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
  font-size: 3rem;
}
.icon-container {
  width: 10rem;
  height: 10rem;
  border: 3px solid #eee;
  background-image: linear-gradient(
    to right,
    #593002,
    #632f28,
    #5d3742,
    #4f424d,
    #4a4a4a
  );
  text-shadow: 1px 1px 0px #e9e85d, 3px 4px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
}
.icon-container i {
  color: #eee;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}

/* PORTFOLIO */
.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.portfolio-item:last-child {
  margin-bottom: 0;
}
.portfolio-img {
  width: 10rem;
  flex: 1;
  opacity: 0.98;
}
.portfolio-description {
  flex: 1;
}
.portfolio-description h6 {
  color: #eee;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}

.portfolio-description h1 {
  font-family: "Poiret One", sans-serif;
  color: #5ce5f7;
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolio-description p {
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 0px rgba(73, 73, 73, 1);
}

.portfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #5ce5f7;
  transition: background-color 650ms;
  border-radius: 150px 150px 150px 150px;
  border-color: #eee;
  border-style: solid;
  padding: 0.5rem 1rem;
}
.portfolio-description .cta:hover {
  color: white;
  background-color: #5ce5f7;
  border-color: white;
}
/* contact */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
  justify-content: center;
}
.buttons button {
  margin: 4rem;
}
button:focus {
  outline: 0;
}
.contactme {
  text-transform: uppercase;
  font-size: 1.4rem;
  width: initial;
  color: #5ce5f7;
  padding: 1rem 2rem;
  border-radius: 1.8rem;
  border-color: #eee;
  padding: 1rem;
  background: none;
  cursor: pointer;
  transition: background-color 650ms;
}
.contactme:hover {
  color: #dad4d3;
  background-color: #7fa8bb;
}
/* contact end */

/* footer */
.copyright {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  position: relative;
}
.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -8.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
  border: 1px solid black;
}
.up i {
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 1.5rem;
}
/* footer end */
/* animtion */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(231, 151, 47);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(22, 141, 238, 0.01);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(86, 197, 231, 0);
  }
}
/* animation end */
/* media queries */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    width: 50rem;
    height: 100%;
  }
  .landing-text h1 {
    display: block;
    transform: translate(40%, 50%);
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1.9rem;
    font-size: 7rem;
  }
  .landing-text h6 {
    display: none;
  }

  .profile-img {
    display: none;
  }
  img {
    display: block;
    height: auto;
    width: 25rem;
    margin-left: 8rem;
  }

  .portfolio-item {
    margin-left: -10rem;
  }
  .portfolio-img {
    order: 1;
  }
  .portfolio-description p {
    display: block;
    float: left;
    margin: 0;
    order: 2;
  }
}

@media screen and (max-width: 425px) {
  html {
    width: 50rem;
    height: 100%;
  }
  .landing-text h1 {
    display: block;
    transform: translate(40%, 50%);
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1.9rem;
    font-size: 7rem;
  }
  .landing-text h6 {
    display: none;
  }

  .profile-img {
    display: none;
  }
  img {
    display: block;
    height: auto;
    width: 25rem;
    margin-left: 8rem;
  }

  .portfolio-item {
    margin-left: -10rem;
  }
  .portfolio-img {
    order: 1;
  }
  .portfolio-description p {
    display: block;
    float: left;
    margin: 0;
    order: 2;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  html {
    width: 80rem;
  }
  .landing-text {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -20%);
    width: 100%;
    text-align: left;
  }
  .landing-text h6 {
    text-decoration: none;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  section {
    margin: 0;
  }
}
